li {
	list-style: none;
	display: inline-block;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 29px;
}
.home {
	margin-left: 250px;
	color: #000;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.discovery {
	margin-left: 50px;
	color: #000;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.photos {
	margin-left: 50px;
	color: #000;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.contact {
	margin-left: 50px;
	color: #000;
	font-family: Roboto;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.tranding {
	margin-left: 250px;
	color: #000;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 42px;
}
.pic1{
	display: inline-block;
	margin-left: 250px;
	margin-top: 27px;
	vertical-align: middle;
}
.pic2{
	display: inline-block;
	margin-left: 90px;
	margin-top: 27px;
	vertical-align: middle;
}
.pic3{
	display: inline-block;
	margin-left: 90px;
	margin-top: 27px;
	vertical-align: middle;
}

.box1{
	width: 362px;
	height: 171px;
	border-color: orangered;
	display: inline-block;
	margin-left: 250px;
	background-color: lightgrey;
	vertical-align: middle;
}
.box2{
	width: 362px;
	height: 171px;
	display: inline-block;
	margin-left: 90px;
	background-color: lightgrey;
	vertical-align: middle;
}
.box3{
	width: 362px;
	height: 171px;
	display: inline-block;
	margin-left: 90px;
	background-color: lightgrey;
	vertical-align: middle;
}

.boxtext1 {
	display: inline-block;
	color: #8A8787;
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 68px;
	margin-left: 37px;

}
.boxtext2 {
	display: inline-block;
	color: #8A8787;
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 68px;
	margin-left: 37px;

}
.boxtext3 {
	display: inline-block;
	color: #8A8787;
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 68px;
	margin-left: 37px;

}
.elipse1 {
	display: inline-block;
	margin-left: 40px;
	margin-top: 12px;
}
.elipse2 {
	display: inline-block;
	margin-left: 40px;
	margin-top: 12px;
}
.elipse3 {
	display: inline-block;
	margin-left: 40px;
	margin-top: 12px;
}
h2 {
	display: inline-block;
	color: #8A8787;
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	height: 10px;
}
.happening {
	color: #000;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin-left: 250px;
	margin-top: 57px;
}

.imgbox1 {
	width: 760px;
	height: 910px;
	display: inline-block;
}
.boxpic1 {

	margin-left: 250px;
	margin-top: 30px;
}
.boxpic2 {
	margin-top: 42px;
	margin-left: 250px;
}


.imgbox2 {
	width: 220px;
	height: 910px;
	display: inline-block;
	border-color: orangered;
	margin-left: 300px;
}

.boxpic4 {
	margin-top: 98px;
}

.boxpic5 {
	margin-top: 103px;
}

.div1 .div2 .div3 {
	width: 70px;
	height: 130px;
	display: inline-block;
}

.div1 {
	display: inline-block;
	margin-top: 59px;
	margin-left: 137px;
}
.div2 {
	display: inline-block;
	margin-top: 59px;
	margin-left: 90px;
}

.div3 {
	display: inline-block;
	margin-top: 59px;
	margin-left: 90px;
}
 h3 {
 	color: #818687;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 14px;
 }
 .txt1 {
 	margin-top: 14px;
 }






.bluebox {
	background: #243043;
	width: 1920px;
	height: 201px;
	margin-top: 36px;
}

.stay {
	color: #FFF;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: inline-block;
	height: 24px;
	margin-left: 112px;
	vertical-align: middle;
	margin-bottom: 80px;
}

.Glogo {
	margin-left:716px ;
	margin-bottom: 60px ;
	display: inline-block;
}